.dashboard-container {
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Grande', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    background-color: orange;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.dashboard-container h1 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 30px;
    min-width: 800px;
}

.dashboard-main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    gap: 20px;
    /* Para espaçamento entre cards e mapa */
    flex-wrap: wrap;
    /* Para permitir que os elementos se reorganizem em telas menores */
}

.dashboard-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* Espaço entre os cards */
    flex: 1;
    /* Faz com que os cards ocupem metade da tela */
    min-width: 300px;
    /* Garante que os cards não encolham muito em telas pequenas */
}

.card {
    background: #f8f9fa;
    border-radius: 5px;
    padding: 27px;
    width: 100%;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dashboard-cards p {
    font-size: 55px;
    color: blue;
}

.locations-list {
    flex: 2;
    /* Faz com que o mapa ocupe mais espaço que os cards */
    min-width: 400px;
    /* Garante que o mapa não encolha muito em telas pequenas */
}

.dashboard-navigation {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.dashboard-navigation button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dashboard-navigation button:hover {
    background-color: purple;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .dashboard-main {
        flex-direction: column;
        align-items: center;
    }

    .locations-list {
        min-width: 300px;
    }

    .dashboard-cards {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
}